---
import { AstroSeo } from '@astrolib/seo';
import { SITE } from '../../config.mjs';

const {
	title = SITE.name,
	description = '',
	image: _image,
	noindex = false,
	nofollow = false,
	ogTitle = title,
	ogType = 'website'
} = Astro.props;

const image = _image && new URL(_image, Astro.site);
const canonicalURL = new URL(Astro.url, Astro.site);
---

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="John Webb">
<meta name="x-build-time" content={(new Date()).toUTCString()}>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>{title}</title>

<link rel="sitemap" href="/sitemap-index.xml">

<AstroSeo
	title={title}
	description={description}
	canonical={canonicalURL.toString()}
	noindex={noindex}
	nofollow={nofollow}
	openGraph={{
		title: ogTitle,
		description,
		url: canonicalURL.toString(),
		type: ogType,
		images: image ? [
			{
				url: image.toString(),
			},
		] : undefined,
	}}
/>
